@page
@using RazorSample.Models
@model RazorSample.Pages.Payments.List
@{
    ViewData["Title"] = "Payments List";
}

<div class="text-center">
    <h3 class="display-4">Payments List</h3>
</div>

<div class="container">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">@nameof(PaymentModel.Id)</th>
            <th scope="col">@nameof(PaymentModel.Amount)</th>
            <th scope="col">@nameof(PaymentModel.From)</th>
            <th scope="col">@nameof(PaymentModel.Date)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var payment in Model.Payments)
        {
            <tr>
                <th scope="row">@payment.Id</th>
                <td>€ @payment.Amount</td>
                <td>@payment.From</td>
                <td>@payment.Date</td>
            </tr>
        }
        </tbody>
    </table>
</div>
