@page
@model RazorSample.Pages.Clans.Index

@{
    ViewData["Title"] = "Clans";
}

@if (Model.Error is { Length: >0 })
{
    <div class="alert alert-danger" role="alert">
        @Model.Error
    </div>
}

@if (Model.Clan is null)
{
    <form class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="clanTag">Clan Tag</label>
            <input type="text" class="form-control" id="clanTag" name="clanTag" placeholder="Clan Tag">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
}
else
{
    <h4>@Model.Clan.Name</h4>
    <p class="lead">
        @Model.Clan.Description
    </p>

    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">Members: @Model.Clan.Members</li>
        <li class="list-group-item">Score: @Model.Clan.ClanScore</li>
        <li class="list-group-item">Trophies: @Model.Clan.ClanWarTrophies</li>
    </ul>
}
